<?php
if (empty($debug) || empty($reporter)) return '';

// ------------------
// JS in footer
$_template->getTemplateObject('JavascriptFile', 'jsfiles_footer')
	->add($_template->getAssetsLoader()->getAssetsWebPath().'/js/scripts.js');

// ------------------
// CSS
$_template->getTemplateObject('CssFile')
	->add($_template->getAssetsLoader()->getAssetsWebPath().'/css/styles.css');

_use('jquery.tablesorter');
$_template->getTemplateObject('JavascriptTag')->add(<<<EOT
$(function() {
    $('.tablesorter').tablesorter({ 
        widgets: ['zebra'] 
    });
});
EOT
);

?>

<style type="text/css">
<?php @include $style_filepath; ?>
</style>

<script language="javascript">
<?php @include $script_filepath; ?>
</script>

<?php _render($profiler_content); ?>

<?php _render($profiler_footer); ?>
