<?php
if (empty($debug) || empty($reporter)) return '';
?>
<footer id="<?php _getid('footer'); ?>">
    <div class="credits float-left">
        Request: <?php echo $_SERVER['REQUEST_URI']; ?>
        &nbsp;|&nbsp;
        <?php echo date('d M Y H:i:s').' '.date_default_timezone_get(); ?>
        <br />
        UserAgent: <?php echo $_SERVER['HTTP_USER_AGENT']; ?>
        <br />
        PHP: <?php echo phpversion(); ?> (<?php echo php_sapi_name(); ?> - <?php echo php_uname(); ?>)
        <br />
        Web server: <?php echo apache_get_version(); ?>
        <br />
        Page rendered in <?php echo round((microtime(true) - $_SERVER['REQUEST_TIME']), 3); ?> seconds
    </div>
    <div class="credits float-right">
        [ <a href="javascript:history.go(-1);" title='Return to normal page'>back to previous page</a> ]
    </div>
</footer>
